.container {
  width: 80%;
  margin: auto;
}

section {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: $font_color;
}


button {
  color: $button_font;
  border-radius: $bordo_button;
  padding: 5px 20px;
}
