.container {
  width: 85%;
  margin: auto;
}

.section-padding {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
  color: $font_color;
}

.arrow-icon {
  padding-left: 10px;
  font-size: 15px;
}

button {
  color: $button_font;
  border-radius: $bordo_button;
  background-color: $button_background;
  padding: 5px 20px;
  cursor: pointer;
  &:hover {
    background-color: $hover_color;
  }
}

.icon {
  @include button_icon(18px, middle, 10px)
}

a {
  @include anchor_style( #58402c, none);
  &:hover {
    color: $hover_color;
  }
}

h3 {
  font-size: 30px;
  margin-top: 0;
}
