.footer-row {
  display: flex;
  align-items: flex-start;
}

.footer-left, .footer-right {
  @include flex(row, space-around, flex-start);
}

.footer-left {
  font-size: 20px;
  font-weight: $font-weight;
  text-align: left;
  img {
    margin-right: 15px;
    width: 140px;
  }
  a {
    color: $hover_color;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-right {
  ul {
    margin-top: 0;
    width: 131px;
    padding: 8px; 
  }
  li {
    text-align: $testo_sinistra;
    list-style-type: none;
    line-height: 35px;
    h5 {
      margin-top: 0;
      font-size: 20px;
    }
  }

}
