.header-top {
  padding: 10px;
  font-size: 12px;
  font-weight: $font-weight;
  text-align: center;
  color: $font_color;
  background-color: $pink_section;
}

#cookie {
  color: $hover_color;
}

.header-bottom {
  color: $font_color;
  font-weight: $font-weight;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: $border_section;
}

.header-bottom, .header-bottom-right {
  @include flex(row, space-between, center)
}

.header-bottom-left img {
  width: 30px;
  vertical-align: middle;
}

.header-bottom-left span {
  font-size: 20px;
}

.menu li {
  font-size: 15px;
  margin-right: 25px;
  display: inline-block;
}

#menu-button {
  font-weight: $font-weight;
  color: #30488f;
  background-color: white;
  &:hover {
    color: white;
    background-color: $hover_color;
  }
}
