.main-title {
  display: flex;
}

.title, .box-img {
  width: 50%;
}

.title {
  color: $font_color;
  text-align: $testo_sinistra;
  line-height: 50px;
}

.title p {
  font-size: 27px;
}

.box-img img {
  width: 100%;
}

.image-title {
  background-color: green;
}

h1 {
  font-size: 52px;
}

.images-section {
  text-align: center;
  background-color: $pink_section;
}

.image {
  width: 200px;
}

.images-box {
  @include flex(row, space-evenly, center);
  margin-bottom: 100px;
  margin-top: 100px;
}

.rabbit img, .blue-rabbit img {
  width: 25%;
}

.images-box img {
  width: 140px;
  height: 100px;
  object-fit: contain;
}

.image-description {
  margin: auto;
  font-size: 20px;
}

.rabbit {
  border-bottom: $border_section;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.rabbit-blue-title {
  font-size: 30px;
  margin-top: 100px;
}

.feedback {
  display: flex;

  .feedback-img{
    width: 55%;
  }
  .feedback-titles {
    font-size: 23px;
    padding-left: 50px;
    width: 35%
  }
}

.feedback img {
  width: 100%;
}

.title-image img {
  text-align: center;
  padding-top: 50px;
  width: 250px;
}

.comment {
  background-color: $pink_section;
  line-height: 85px;
}

.comment-row {
  @include flex(column, space-around, center)
}
.comment-title h2 {
  max-width: 490px;
  font-size: 40px;
  text-align: center;
}

.comment-box {
  background-color: white;
  width: 550px;
  border: 1px solid black;
}

.comment-box p {
  line-height: 30px;
  padding: 10px 50px;
}
