.main-title {
  display: flex;
}

.title, .box-img {
  width: 50%;
}

.title {
  color: $font_color;
  text-align: $testo_sinistra;
  line-height: 50px;
}

.title p {
  font-size: 27px;
}

.box-img img {
  width: 100%;
}

.title a {
  color: $font_color;
  text-decoration: none;
}

.title button {
  background-color: $border-background;
}

.image-title {
  background-color: green;
}

h1 {
  font-size: 52px;
}

.images-section {
  background-color: $pink_section;
}

.image {
  width: 200px;
}

.images-box {
  @include flex(row, space-evenly, center);
  margin-bottom: 100px;
  margin-top: 100px;
}

.rabbit img, .blue-rabbit img {
  width: 25%;
}

.images-box img {
  width: 140px;
  height: 100px;
  object-fit: contain;
}

.image-description {
  margin: auto;
  font-size: 20px;
}

.rabbit {
  border-bottom: 1px solid black;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.rabbit-blue-title {
  font-size: 30px;
  margin-top: 100px;
}
