@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin anchor_style($color, $decoration) {
  color:  $color;
  text-decoration: $decoration
}

@mixin button_icon($width, $align, $padding) {
  width: $width;
  vertical-align: $align;
  padding-right: $padding;
}
