$font_color : #58402c;

$font-weight: 600;

$bordo_button: 5px;

$border_section: 1px solid rgb(189, 181, 175);

$button_font: white;

$button_background: #30488f;

$hover_color: #263972;

$testo_sinistra : left;

$pink_section: #FFE7D2;

$images_width: 33%;

$anchor_decoration: none;
